.link {
  margin-top: 30px;
}

.link button {
  font-size: 28px;
  color: black;
  background-color: transparent;
  border: none;
  transition: 200ms ease;
}

.link > .accepted:hover {
  color: var(--secondary-color);
}

.link > .declined:hover {
  color: var(--primary-color);
}

.link ul {
  list-style-type: none;
  padding: 0;
  margin: 0 0 40px 0;
}
