.link {
  margin-top: 30px;
}

.link button {
  font-size: 28px;
  color: black;
  background-color: transparent;
  border: none;
}

.link > .accept:hover {
  color: var(--secondary-color);
}

.link > .decline:hover {
  color: var(--primary-color);
}

.link ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
