.swipeBar {
  height: 80px;
  margin-top: 40px;
}

.decline,
.accept {
  border: none;
  background-color: transparent;
}

.decline {
  float: left;
  margin-left: 20px;
}

.accept {
  float: right;
  margin-right: 15px;
}
